
@{
    ViewBag.Title = "HW2";
}

<h2>HW2</h2>

<p>
    姓名: @Html.TextBox("name", "")
</p>
<br>
<p>帳號: @Html.TextBox("account", "")</p>
<br>
<p>密碼: @Html.Password("pw", "")</p>
<br>
<p>
    性別: @Html.RadioButton("m", "a") 男性
          @Html.RadioButton("m", "b") 女性
</p>
<br>
<p>
    興趣:@Html.CheckBox("swim") 游泳
    @Html.CheckBox("read") 閱讀
    @Html.CheckBox("movie") 看電影
</p>
<br>
<p>
    自我介紹: @Html.TextArea("about")
</p>
<br>